<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946275082988-muv971b7q3s393bk5plbffk449oir7oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946275082988-muv971b7q3s393bk5plbffk449oir7oi</string>
	<key>API_KEY</key>
	<string>AIzaSyBbY_L4YDarGANSWzVABmPwbNu9SsyHpd4</string>
	<key>GCM_SENDER_ID</key>
	<string>946275082988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.broncoSafe</string>
	<key>PROJECT_ID</key>
	<string>bronco-safe</string>
	<key>STORAGE_BUCKET</key>
	<string>bronco-safe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946275082988:ios:c2db738d8bdc79ac043bc9</string>
	<key>DATABASE_URL</key>
	<string>https://bronco-safe-default-rtdb.firebaseio.com</string>
</dict>
</plist>